.modal__container {
  display: flex;
  flex-direction: column;
  padding: 53px 98px;
  box-sizing: border-box;
  margin-top: 101px;
  width: 80%;
  max-width: 754px;

  background-color: var(--main-bg-color);
}

@media screen and (max-width: 750px) {
  .modal__container {
    padding: 53px 6%;
  }
}
