table {
  width: 100%;

  font-family: Arial, sans-serif;

  border-collapse: collapse;
}

th {
  padding: 10px;

  font-weight: bold;
  text-align: left;

  background-color: #d0d0d0;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
