.form__input {
  height: 54px;
  width: 100%;
  padding: 10px 16px 0 16px;
  box-sizing: border-box;

  color: var(--primary-text-color);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;

  border: 1px solid #d6dade;
  border-radius: 2px;
}
